
.tloTarcza {
    fill: #e4e4e4;
}

.ampmspot {

    fill: #6197cd;
    cursor: pointer;
}

.ampmtext {
    fill: white;
    cursor: pointer;
    font-family: sans-serif;
}

.srodkowyspot {
fill: #6197cd;
}


.aktywnyspot {
    fill: #6197cd;
    cursor: pointer;
}

.aktywnyspotszary {
    fill: #bebebe;
    opacity: 0.6;
    cursor: pointer;
}

.aktywnyspotszaryciemny {
    fill: #6b6b6b;
    opacity: 0.6;
    cursor: pointer;
}

.line {
stroke: #6197cd;
stroke-width: 2px;
}


